

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.hoodie-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoodie {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 235px;
    margin-bottom: 50px;
}

.hoodie img {
    width: 480px;
    transform: translateY(50px);
}

.hoodie h2 {
    color: white;
    font-size: 20px;
    margin-top: 235px;
    margin-bottom: 1px;
}

.price {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

body {
    background-image: url("broken.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;